@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

body {
  background-color: #111111; }

@keyframes pisc {
  from {
    border-right-color: #d2dae2; }
  to {
    border-right-color: #111111; } }
@keyframes typing {
  from {
    width: 0; }
  to {
    width: 16em; } }
@keyframes colors {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }
.container--about {
  width: 75vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  margin-left: 35px; }

.about-title {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .about-title h2 {
    font-size: clamp(1rem, 8vw, 2rem); }

.about--circle-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  height: 30px; }
  .about--circle-btn ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20%; }
    .about--circle-btn ul li {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 2px solid #d2dae2;
      display: flex;
      justify-content: center;
      align-items: center; }
      .about--circle-btn ul li button {
        width: 50%;
        height: 50%;
        border-radius: 50%;
        cursor: pointer; }

.about-info {
  margin-top: 30px;
  height: 100%;
  max-height: 830px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.info1 {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: #d2dae2;
  margin-bottom: 20px;
  margin-top: 20px;
  transition: opacity 300ms; }
  .info1 p {
    text-align: justify;
    width: 70%; }
    .info1 p span {
      color: #fff;
      font-weight: bold; }
  .info1 figure {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; }
    .info1 figure img {
      width: 100%;
      max-width: 220px;
      border-radius: 10px;
      transition: transform 400ms; }
      .info1 figure img:hover {
        transform: scale(0.9); }
    .info1 figure figcaption {
      margin-top: 5px;
      font-size: 12px;
      color: #ffffff; }

.info2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: #d2dae2;
  margin-top: 20px; }
  .info2 p {
    text-align: justify;
    width: 70%; }
  .info2 figure {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; }
    .info2 figure img {
      object-fit: cover;
      width: 100%;
      max-width: 220px;
      height: 200px;
      border-radius: 10px;
      transition: transform 400ms; }
      .info2 figure img:hover {
        transform: scale(0.9); }
    .info2 figure figcaption {
      margin-top: 5px;
      font-size: 12px;
      color: #ffffff; }

footer {
  margin-top: 50px;
  margin-bottom: 20px; }
  footer p {
    font-size: 12px; }

.clicleTrue {
  background: #ff5e57; }

audio {
  height: 20px;
  width: 100%; }
  audio::-webkit-media-controls-enclosure {
    background-color: transparent; }
  audio progress::-webkit-progress-value {
    color: red;
    background-color: blue; }

/*# sourceMappingURL=aboutMe.css.map */
