@import "./global.scss";

.salutation--icon{
    display: flex;
    justify-content: flex-end;

    button{
        background: none;
        cursor: pointer;
        margin-right: 20px;
        margin-top: 10px;
        border-bottom: 2px solid $color-red-40;

    }
}

.container--salutation {
    height: 100vh;  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: -9px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -9px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -9px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.salutation--me {
    margin-top: 200px;

    h1 {
        color: $color-gray-20;
        font-size: 70px;
        text-align: center;

        span {
            color: $color-red-40;
        }
    }

    h3 {
        color: $color-gray-20;
        font-size: 20px;
        text-align: center;

        span {
            color: $color-white-0;
            border-bottom: 2px solid $color-red-40;
            font-size: 24px;
        }
    }

}

.salutation--btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    button {
        padding: 10px;
        border-radius: 5px;
        background-color: $color-red-40;
        cursor: pointer;
        display: flex;
        animation: shake 2s infinite;

        p {
            background: linear-gradient(45deg,$color-background-header, #203239, #EEEDDE, #E0DDAA);
            background-size: 300% 300%;
            font-weight: bold;
            animation: colors 15s ease infinite;
            background-clip: text;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
            margin-right: 5px;

            &:active {
                color: $color-white-0;
            }
        }


    }
}