@import"./global.scss";

.container--about {
    width: 75vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    margin-left: 35px;

}

.about-title {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    h2 {
        font-size: clamp(1rem, 8vw, 2rem);

    }
}

.about--circle-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height: 30px;

    ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 20%;

        li {

            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: 2px solid $color-gray-20;
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                width: 50%;
                height: 50%;
                border-radius: 50%;
                cursor: pointer;


            }
        }
    }
}

.about-info {
    margin-top: 30px;
    height: 100%;
    max-height: 830px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.info1 {

    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: $color-gray-20;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: opacity 300ms;

    p {
        text-align: justify;
        width: 70%;

        span {
            color: #fff;
            font-weight: bold;
        }
    }

    figure {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        img {
            width: 100%;
            max-width: 220px;
            border-radius: 10px;
            transition: transform 400ms;

            &:hover {
                transform: scale(0.9);
            }
        }

        figcaption {
            margin-top: 5px;
            font-size: 12px;
            color: $color-white-0;
        }
    }
}

.info2 {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: $color-gray-20;
    margin-top: 20px;

    p {
        text-align: justify;
        width: 70%;
    }

    figure {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        img {
            object-fit: cover;
            width: 100%;
            max-width: 220px;
            height: 200px;
            border-radius: 10px;
            transition: transform 400ms;

            &:hover {
                transform: scale(0.9);
            }
        }

        figcaption {
            margin-top: 5px;
            font-size: 12px;
            color: $color-white-0;
        }
    }
}

footer {
    margin-top: 50px;
    margin-bottom: 20px;

    p {
        font-size: 12px;
    }

}

.clicleTrue {
    background: $color-red-40;
}

audio {
    height: 20px;
    
    width: 100%;


    &::-webkit-media-controls-enclosure {
        background-color: transparent;
    }

    progress::-webkit-progress-value {
        color: red;
        background-color: blue;

    }




}