@import "./global.scss";

.container--button {
    width: 100%;    
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    margin-top: 10px;
    margin-bottom: -10px;

    button {
        background: none;
        cursor: pointer;       
    }
}